/* tillana-600 - latin */
@font-face {
  font-family: "Tillana";
  font-style: normal;
  font-weight: 600;
  src: local("Tillana SemiBold"), local("Tillana-SemiBold"),
    url("../../../QWIZM/fonts/tillana-v5-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../../../QWIZM/fonts/tillana-v5-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-600 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../../../QWIZM/fonts/quicksand-v20-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../../../QWIZM/fonts/quicksand-v20-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* architects-daughter-regular - latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: local("Architects Daughter Regular"), local("ArchitectsDaughter-Regular"),
    url("../../../QWIZM/fonts/architects-daughter-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../../../QWIZM/fonts/architects-daughter-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// breakpoints
$SMALL: "376px";

$PRIMARY: maroon;
$LOGIN_BTN_HOVER: darken($PRIMARY, 7);
$COURSE_LIGHT: white;
$TOPIC_LIGHT: white;
$TEXT: #333;
$HEADER_TOPIC: "Quicksand";
$HEADER_COURSE: "Tillana";
$FONT_SIZE: 1.75vw;
$CARD_BACKGROUND: #eee;
$SHADOW: 0 0 0.2em 0 black;
$BUTTON_GRADIENT: linear-gradient(to bottom,
  $PRIMARY,
  $PRIMARY 35%,
  darken($PRIMARY, 5) 65%,
  darken($PRIMARY, 5));
$BUTTON_GRADIENT_HOVER: linear-gradient(to bottom,
  darken($PRIMARY, 5),
  darken($PRIMARY, 5) 35%,
  $PRIMARY 85%,
  $PRIMARY);
$ACTIVE_GRADIENT: linear-gradient(to bottom,
  $TOPIC_LIGHT,
  $TOPIC_LIGHT 35%,
  darken($TOPIC_LIGHT, 15) 65%,
  darken($TOPIC_LIGHT, 15));
$SUMMARY_BORDER: 1px solid #888;

html {
  height: 100%;
}

//////////////////////////////////////////////////////////////////////////////////////

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

header {
  display: flex;
  flex-flow: row wrap;
  background-color: $PRIMARY;
  padding: 0;
  margin-bottom: 1em;

  /* For mobile, full width - without which 'text-align: center;' doesn't do anything */
  &>* {
    flex: 1 100%;
  }

  &>h1 {
    margin: 0;
    padding: 0.125em 0;
    color: $COURSE_LIGHT;
    font-family: $HEADER_COURSE, cursive;
    letter-spacing: 0.075em;
    line-height: 1.125em;
    text-shadow: 0.2vw 0.2vw 0.375vw black;
    text-align: center;
  }

  &>.rightblock {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
  }

  &>.rightblock>h3 {
    margin: 0;
    margin-bottom: 0.125em;
    padding: 0.0625em 0.5em 0.25em 0.5em;
    flex: 1 auto;
    font-family: $HEADER_TOPIC;
    color: $TOPIC_LIGHT;
    text-shadow: 0.1vw 0.1vw 0.15vw black;
    line-height: 1em;
    letter-spacing: 0.075em;

    &+h3 {
      text-align: right;
    }
  }
}

footer {
  background-color: $PRIMARY;
  margin-top: 1em;
  padding: 0.05em 1em;
}

.navbar {
  height: 100%; // so that align-self: center is in the (vertical) center of <footer>
  display: flex;
  padding: 0;

  &>* {
    flex: 1 auto;
  }

  &>ul {
    // flex-grow: 0.125;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    display: inline;
    text-align: center;
    // font-size: 90%;

    padding: 0;
    margin: 0.5em 0;
    margin-right: 1em;
    list-style: none;
    color: whitesmoke;

    &>li {
      // align-self: center;
      padding: 0 0.5vw;
      display: inline-block;
      margin: 0.25em 0.375em;
      box-shadow: $SHADOW;
      background: darken($PRIMARY, 5);
      background: $BUTTON_GRADIENT;

      &:hover {
        // background: $BUTTON_GRADIENT_HOVER;
        // color: $TOPIC_LIGHT;
        cursor: pointer;
      }

      &.active,
      &:hover {
        color: black;
        background: $ACTIVE_GRADIENT;
      }

      // &.active + &:hover {
      //   color: green;
      // }
    }
  }

  & .uname {
    color: white;
    align-self: center;
    font-family: "Architects Daughter";
    font-size: 115%;
    text-align: right;
    padding: 0;
    margin: 0;
    text-shadow: 0.12vw 0.12vw 0.25vw black;
  }
}

#summary {
  // background-color: #ddd;
  // position: relative;

  & summary.statement {
    // position: absolute;
    // background-color: #ddd;
    // height: 100%;
    margin: 0 auto;
    // border: 1px solid black;

    & h3 {
      display: block;
      background-color: $PRIMARY;
      color: white;
      // font-family: Quicksand;
      padding: 1vw 2vw;
      // vertical-align: middle;
      // float: right;
    }

    & .uname {
      // color: lighten($PRIMARY, 10);
      color: white;
      font-family: "Architects Daughter";
      // font-size: 115%;
      text-align: right;
      text-shadow: 0.12vw 0.12vw 0.25vw black;
      letter-spacing: 0.1vw;
    }
  }

  & .table {
    width: 100%;
    border: $SUMMARY_BORDER;
    border-top: none;

    & .row {
      padding: 0.5vw;
      display: flex;

      & .qNumber {
        display: inline-block;
        font-size: 115%;
        width: 20%;
        align-self: center;
      }

      & .items {
        padding: 0;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        width: 80%;
        text-align: top;


        & .item {
          flex-basis: 25%;
          // min-width: 10em;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid green;
        }
      }

      &:nth-child(2n + 1) {
        background-color: #ccc;
      }

      &:nth-child(2n) {
        background-color: #eee;
      }
    }

    .row+.row {
      border-top: 1px solid #aaa;
    }
  }

}

.fright {
  float: right;
}

.katex {
  font-size: 105%;
  // color: DarkRed;
  font-weight: 600;
}

// .taLeft {
//   text-align: left;
//   color: blue;
// }

// .taCenter {
//   text-align: center;
// }

// .taRight {
//   text-align: right;
// }

#instructions {
  & ul {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: -1vw;

    &:last-of-type {
      margin-bottom: 0;
      // border: 1px solid black; green solid;
    }

    & li {
      &::before {
        display: inline-block;
        width: 0.75em;
        margin-left: -0.75em;
        font-weight: bold;
        content: "\2134";
        // content: '\263B';
        font-size: 200%;
        color: $PRIMARY;
        line-height: 1;
      }

      margin-bottom: 1em;
      line-height: 1.25;
    }
  }

  & h3 {
    display: inline-block; // to prevent indenting of wrapped header, don't know why...
    color: $PRIMARY;
    margin-left: -0.75em;
    font-family: "Quicksand";
    font-size: 140%;
    font-weight: bold;
    letter-spacing: 0.9;
    text-decoration: underline;
  }
}

.center {
  margin: 0 auto;
}

.statement {
  // border: 1px solid black; solid green;
  margin: 0 auto;
  text-align: left;

  & strong {
    color: $PRIMARY;
  }

  & h3 {
    display: inline;
    margin: 0;
  }
}

.image {
  position: relative;
  // border: 1px solid black; solid red;
  margin: 1em auto;

  & img {
    width: 100%;
    margin: 0;
    // border: 3px solid green
  }

  & .label {
    position: absolute;
    z-index: 100;
    padding: 0.25vw 0.5vw;
  }
}

.parts {
  display: grid;
  // partStatement, input, units, button, check/cross, marks, feedback
  grid-template-columns: 25% auto 3em 4em 1.5em 50%; // 1fr;
  // grid-gap: 1vw 0;
  grid-row-gap: 0.5em;
  // border: 1px solid black; solid blue;
  width: 60%;
  margin: 0 auto;
  // padding-right: 2em;
  font-size: $FONT_SIZE;
}

.partStatement {
  align-self: center;
  // justify-self: end;
  text-align: right;
  // place-self: center end;
  overflow-x: visible;
}

.markButton {
  background-color: darken($PRIMARY, 5);
  background: $BUTTON_GRADIENT;
  font-size: $FONT_SIZE;
  color: white;
  margin-right: 2vw;
  height: 1.75em;
  width: 4em;
  border: none;
  padding: 0.25vw;
  font-size: 1.5vw;
  text-decoration: none;
  box-shadow: $SHADOW;
  // align-self: center;
  // justify-self: end;
  place-self: center end;

  &.active {
    position: relative;
    top: 2px;
    color: black;
    background: $COURSE_LIGHT;
    background: linear-gradient(to bottom,
        lighten(linen, 5),
        lighten(linen, 5) 45%,
        linen 55%,
        linen);
  }

  &:hover {
    // position: relative;
    // top: 10px;
    background-color: $PRIMARY;
    background: $BUTTON_GRADIENT_HOVER;
    // color: black;
    cursor: pointer;
  }

  &:focus {
    position: relative;
    // top: 1px solid black;;
    outline: none;
  }
}

input.partInput {
  // background: $CARD_BACKGROUND;
  border: 0.3vw solid darken($CARD_BACKGROUND, 10);
  font-size: $FONT_SIZE;
  margin: 0 0.5vw;
  width: 8vw;
  height: 3vw;
  place-self: center center;
  outline: none;

  &:focus {
    border: 0.3vw solid darken($CARD_BACKGROUND, 25);
  }
}

.cross:before {
  color: maroon;
  content: "\2718";
  // content: "&#10008";
  font-size: 125%;
  font-weight: bold;
}

.check:before {
  color: #080;
  content: "\2714";
  font-size: 125%;
  font-weight: bold;
  justify-self: start;
  align-self: center;
}

.units {
  // align-self: center;
  // justify-self: end;
  place-self: center start;
  // background: pink;
}

.crosscheck {
  place-self: center start;
}

.feedback {
  // border: 1px solid black; solid black;
  align-self: center;
  justify-self: start;
  place-self: center start;
  overflow-x: visible;
  // background: palegreen;
}

// article.summary {
//   background: purple;
//   color: pink;
//   // margin: 0 auto;
//   border: 1px solid black; solid black;
//   // width: 30%;
// }


$min_font: 8;
$mid_font: 10; //font-size at media break
$max_font: 16;
$min_view: 300;
$max_view: 1200;

// maximum font for large window //////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: #{$max-view}px) {
  html {
    font-size: $max-font px;
    // background-color: purple;
  }
}

@media screen and (max-width: #{$max_view}px) {
  html {
    // font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_view}px) / (#{$max_view} - #{$min_view})));
    font-size: 1.75vw;
  }
}

/////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: $SMALL) {
  header {
    display: flex;
    align-content: center;
    padding: 0 1em;
    justify-content: space-between;

    &>* {
      flex: 0 auto;
    }

    &>h1 {
      margin: 0;
      margin-right: 1em;
      margin-bottom: 0.125em;
      align-self: center;
    }

    &>.rightblock {
      display: flex;
      text-align: right;
      flex-direction: column;
      flex: 1 0 0;
      justify-content: center;
      align-content: flex-end;

      &>h3 {
        text-align: right;
        margin: 0.125em 0 0.25em 1.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////

main {
  display: flex;
  flex: 1; // this is for the containing flex in <body>
  align-items: center;
  // align-content: flex-end;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  padding: 0 1em;
  // background: yellow;

  & #clear {
    text-align: center;
  }

  & #login {
    text-align: center;
  }

  & .card {
    font-size: 95%;
    display: flex;
    flex-flow: row wrap;
    padding: 1em 2em;
    border: 1px solid #ccc;
    box-shadow: 0.1em 0.1em 0.275em 0.1em grey;
    flex-basis: 25em;
    background-color: $CARD_BACKGROUND;

    & p {
      margin: 0.5em 0;
    }

    & h2 {
      margin-top: 0.25em;
      color: $PRIMARY;
      text-align: center;
      flex: 1 100%;
      font-family: $HEADER_TOPIC;
      font-weight: 700;
      font-size: 175%;
    }

    & button {
      flex: 1 100%;
      border: none;
      padding: 0.5em 0.25em;
      font-size: 125%;
      font-weight: 600;
      font-family: $HEADER_TOPIC;
      // background-color: green;
      background: $BUTTON_GRADIENT;
      color: white;
      margin-top: 1em;
      margin-bottom: 0.5em;
      letter-spacing: 0.075em;

      &:hover {
        background: $BUTTON_GRADIENT_HOVER;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    & .login-list {
      padding: 0;
      margin: 0 auto;
      list-style-type: none;
      // border: 1px solid black; solid black;
      flex-basis: 20.5em;

      & li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & label {
          padding: 0.5em;
          padding-left: 0;
          font-size: 120%;
        }

        & input {
          font-size: 120%;
          flex: 1 100%;
          color: $PRIMARY;
          border: 1px solid #ccc;
          padding: 0.5em;
          // padding-left: 1em;
          margin-bottom: 0.5em;

          &::placeholder {
            font-size: 80%;
            color: $PRIMARY;
            opacity: 0.5;
          }

          &:focus {
            outline: 1px solid $PRIMARY;
          }
        }
      }

      & li#uIdError,
      & li#unameError {
        display: block;
        color: $PRIMARY;
        margin-bottom: 1em;
        text-align: center;
        margin: 0 auto 0.5em auto;
        text-transform: uppercase;
        font-weight: bold;
        height: 1.5em;
      }
    }
  }


  & .view {
    // background: pink;
    width: 100%;
    // border: 3px solid pink;
  }

  // end main
}

.highlight {
  color: $PRIMARY;
  font-weight: bold;
}

.width25 {
  // flex-basis: 30%;
  width: 25%;
}

.width30 {
  // flex-basis: 30%;
  width: 30%;
}

.width35 {
  // flex-basis: 35%;
  width: 35%;
}

.width40 {
  // flex-basis: 40%;
  width: 40%;
}

.width45 {
  // flex-basis: 45%;
  width: 45%;
}

.width50 {
  // flex-basis: 50%;
  width: 50%;
  // background-color: pink;
}

.width55 {
  // flex-basis: 55%;
  width: 55%;
}

.width60 {
  // flex-basis: 60%;
  width: 60%;
}

.width65 {
  //   flex-basis: 65%;
  width: 65%;
}

.width70 {
  // flex-basis: 70%;
  width: 70%;
}

.width75 {
  // flex-basis: 75%;
  width: 75%;
}

.width80 {
  // flex-basis: 80%;
  width: 80%;
}

.width85 {
  // flex-basis: 85%;
  width: 85%;
}

.width90 {
  // flex-basis: 90%;
  width: 90%;

}

.width95 {
  // flex-basis: 90%;
  width: 95%;

}

.width100 {
  // flex-basis: 90%;
  width: 100%;

}